{{define "status"}}
[![Build Status](https://travis-ci.org/extrame/gocryptotrader.svg?branch=master)](https://travis-ci.org/extrame/gocryptotrader)
[![Software License](https://img.shields.io/badge/License-MIT-orange.svg?style=flat-square)](https://github.com/extrame/gocryptotrader/blob/master/LICENSE)
{{with .}}[![GoDoc](https://godoc.org/github.com/extrame/gocryptotrader?status.svg)](https://godoc.org/github.com/extrame/gocryptotrader/{{.}}){{else}}[![GoDoc](https://godoc.org/github.com/extrame/gocryptotrader?status.svg)](https://godoc.org/github.com/extrame/gocryptotrader/){{end}}
[![Coverage Status](http://codecov.io/github/extrame/gocryptotrader/coverage.svg?branch=master)](http://codecov.io/github/extrame/gocryptotrader?branch=master)
[![Go Report Card](https://goreportcard.com/badge/github.com/extrame/gocryptotrader)](https://goreportcard.com/report/github.com/extrame/gocryptotrader)
{{end}}
